{% extends 'base.html.twig' %}
{% block style %}
    .inputText {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    }

    .submit1 {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    }


    .submit1:hover {
    background-color: #45a049;
    }

    .div1 {

    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    }
{% endblock %}
{% block body %}
    {% include 'flashbag.html.twig' %}
    {% if error %}
        <p style="color:orange;font-weight:bold;">
            {{ error.messageKey }}
        </p>
    {% endif %}

    {#
    {% for value in app.user.roles %}
        <li>{{ value }}</li>
    {% endfor %}

    {% if is_granted('ROLE_ADMIN') %}
        <p>You are an admin, sir...</p>
    {% elseif is_granted("ROLE_USER")  %}
        <p>You are a user...</p>
    {% else %}
        <p>You are NOT logged in...</p>
    {% endif %}
    #}
    {% if is_granted("IS_AUTHENTICATED_FULLY") %}
        <h1>Welcome! </h1>
        <br>
        <h3> <a href="{{ path('home') }}">BACK TO HOME</a> </h3>
    {% else %}
    <div class="div1">
        <h1>LOGIN</h1>
    <form action="{{ path('login') }}" method="post">
        <!-- CSRF = Cross Site Request Forgery -->
        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}" />
        <label for="email">Email: </label>
        <input type="email" id="email" name="_username" class="inputText"
                         value="{{ last_username }}" /><br/>
        <label for="password">Password: </label>
        <input type="password"  id="password" name="_password" class="inputText" /><br/>
        <input type="submit" value="LOGIN" class="submit1" />
    </form>
    <h1>REGISTER</h1>
    <form action="{{ path('register') }}" method="post">
        <label for="remail">Email: </label>
        <input type="email" name="_username" id="remail" class="inputText"
                         value="{{ last_username }}" /><br/>
        <label for="rpassword">Password: </label>
        <input type="password" name="_password" id="rpassword" class="inputText" /><br/>
        <input type="submit" class="submit1" value="REGISTER" />
    </form>
        </div>
    {% endif %}
{% endblock %}